body {
    background-color: rgb(77, 44, 123);
    background-image: url("https://img.freepik.com/vector-premium/fondo-abstracto-vendimia-ilustracion-vectorial-10-eps_448692-399.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    background-attachment: fixed;
}

div {
    height: 2000px;
}