/* Unidades Absolutas**/
.contenedor_uno {
    border-style: solid;
    border-color: orange;
    border-width: 20px;
}

.contenedor_dos {
    border-style: solid;
    border-color: orange;
    border-width: 1cm;
}

/* Unidades Relativas */
.contenedor_padre {
    font-size: 5px;
}

.contenedor_tres {
    border: 5px solid maroon;
    font-size: 8em;
}

.contenedor_cuatro {
    border-style: solid;
    border-color: maroon;
    font-size: 15px;
    border-width: 2em;
}

.contenedor_cinco {
    border-style: solid;
    border-color: maroon;
    border-width: 4rem;
}